<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qjf.demo.mapper.AdminRoleResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qjf.demo.entity.AdminRoleResource">
        <id column="id" property="id" />
        <result column="admin_role_id" property="adminRoleId" />
        <result column="admin_resource_id" property="adminResourceId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, admin_role_id AS adminRoleId, admin_resource_id AS adminResourceId
    </sql>

</mapper>
