<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qjf.demo.mapper.WeimobUserRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qjf.demo.entity.WeimobUserRelation">
        <id column="id" property="id" />
        <result column="nickname" property="nickname" />
        <result column="nickname_openid" property="nicknameOpenid" />
        <result column="source_nickname" property="sourceNickname" />
        <result column="source_openid" property="sourceOpenid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, nickname AS nickname, nickname_openid AS nicknameOpenid, source_nickname AS sourceNickname, source_openid AS sourceOpenid
    </sql>

</mapper>
